<% if (article.tags && (article.tags.length > 0)) { %>
    <div class="tags">
        <% article.tags.forEach(function(tag){ %>
            <a href="/articles/<%=tag%><%=urltail%>">#<%=tag%></a>
        <% }) %>
    </div>
<% } %>
