<div class="content">
    <div class="holder">
        <div class="login">
            <div class="input-row">
                <label for="username">Логин</label>
                <input type="text" id="username">
            </div>
            <div class="input-row">
                <label for="pass">Пароль</label>
                <input type="password" id="pass">
            </div>
            <div class="input-row">
                <div class="b-login button green">Войти</div>
            </div>
        </div>
    </div>
</div>