<footer>
    <ul>
        <li>
            <a href="http://blondiecode.tumblr.com/" rel="nofollow" target="_blank">tumblr</a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCSsg9NLCse2XQCIRgfmJu3Q" rel="nofollow" target="_blank">youtube</a>
        </li>
    </ul>
    <small>#BlondieCode © <%=fullyear%></small>
</footer>